<!-- <p>
  liste-items works {{ collection | json }}
</p> -->

<div class="container">

  <ng-container *ngFor="let item of collection$ | async">
    <app-item [itemF2C]='item'></app-item>
  </ng-container>

</div>
