/* You can add global styles to this file, and also import other style files */
.card {margin-top: 1rem;}
.state-a-livrer {color: red;font-weight:bold;font-style:italic}
.state-en-cours {color: rgb(255, 208, 0);font-weight:bold;font-style:italic}
.state-livree {color: green;font-weight:bold;font-style:italic}
