<div class="card" >
    <div class="card-header">
      <span [appState] = 'itemF2C.state'> {{ itemF2C.state }} </span>

      <a class="btn btn-primary float-right">
        <span class="icon-edit"></span>
      </a>

    </div>
    
    <div class="card-body">
      <h5 class="card-title"> {{ itemF2C.name }} </h5>
      <p class="card-text"> {{ itemF2C.reference }} </p>
      <a href="#" class="btn btn-primary">Allez Allez</a>
    </div>
  </div>

