<form class="form" novalidate [formGroup]="form" (ngSubmit)="process()">
  <div class="form-group">
    <input formControlName="name" class="form-control" type="text" placeholder="Nom et prénom">
<!--    <div class="alert alert-danger" *ngIf="form.get('name').invalid && form.get('name').touched">champs invalide</div>
-->  
    <div class="alert alert-danger" *ngIf="isError('name')">champs invalide</div>
  </div>
  <div class="form-group">
    <input formControlName="reference" class="form-control" type="text" placeholder="Ref ex: 1234">
<!--    <div class="alert alert-danger" *ngIf="form.get('reference').invalid && form.get('reference').touched">champs invalide</div>
-->    
    <div class="alert alert-danger" *ngIf="isError('reference')">champs invalide</div>
  </div>
  <div class="form-group">
    <select class="form-control form-control-lg" formControlName="state">
      <!--    <option [ngValue]="state.ALIVRER">A livrer</option>
      <option [ngValue]="state.ENCOURS">En cours</option>
      <option [ngValue]="state.LIVREE">Livrée</option>
      --> 
      <option *ngFor="let libelle of stateEnum" [ngValue]="libelle">{{ libelle }}</option>

    </select>
  </div>
  <div class="form-group">
    <button [disabled]="form.invalid" type="submit" class="btn btn-primary mb-">Valider</button>
  </div>
</form>



  